/* Sección de Contacto */
.contact-rc {
    padding: 2em 0;
    background: #ffffff; 
}

.contact-rc .logo {
    text-align: center;
    font-size: 2.5em;
    color: #ffffff; 
    margin-bottom: 1em; 
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 2em; 
    background: #000000; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

.contact-form {
    flex: 2;
    padding: 2em; 
}

.contact-form h3 {
    margin-bottom: 1em; 
    color: #0fc4ac; 
}

.contact-form form {
    display: grid;
    gap: 1em;
}

.contact-form form label {
    font-weight: bold; 
    color: #ffffff; 
    display: block;
    position: relative;
    margin-bottom: 0.5em; 
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 0.7em 0; 
    border: none; 
    border-bottom: 1px solid #09c7f7;
    background: transparent; 
    color: #ffffff;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
    outline: none; 
    border-bottom-color: #09c7f7;
}

/* ---------------------------------------------------------------------------------- */
/* Estilo del botón */
.contact-form form button {
    background: #16aed4; 
    border: none;
    color: #fff; 
    text-transform: uppercase;
    padding: 1em;
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #07865c; 
}

/* ---------------------------------------------------------------------------------- */
/* Estilos para la información de contacto */
.contact-info {
    flex: 1; 
    padding: 2em;
    background: #000000; 
    border-left: 1px solid #09c7f7; 
}

.contact-info h4 {
    margin-bottom: 1em; 
    color: #09c7f7; 
}

.contact-info ul {
    padding: 0;
    margin: 0 0 1em; 
    list-style-type: none; 
}

.contact-info ul li {
    display: flex; 
    align-items: center; 
    margin: 0.5em 0; 
    color: #f9f9f9;
}

.contact-info ul li i {
    margin-right: 0.5em; 
    color: #09c7f7; 
}

.contact-info p {
    color: #ffffff; 
    margin: 0; 
}
.error-message {
    color: red; /* Color para mensajes de error */
    font-size: 0.9em; /* Tamaño de fuente para mensajes de error */
}

input.valid, textarea.valid {
    border-bottom: 1px solid green; /* Borde verde si es válido */
}

input.invalid, textarea.invalid {
    border-bottom: 1px solid red; /* Borde rojo si es inválido */
}


/* -------------------------------------------------------------- */

/*  Estilos para redireccion de paginas*/

.section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.section-image {
    width: 100%;
    border-radius: 8px;
}

.section-title {
    color: #333;
    margin: 15px 0 10px;
}

.section-description {
    color: #666;
    margin-bottom: 20px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos para pantallas grandes */
@media(min-width: 700px) {
    .contact-wrapper {
        display: flex; 
    }
}